[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
numpy = "*"
pydantic = "*"
pydantic-numpy = "*"
typer = "*"
pytz = "*"

[dev-packages]
pytest = "*"
mypy = "*"
mypy-extensions = "*"
isort = "*"
black = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
